div  {
  border: thin solid black;
  float: left;
  display: inline-block;
  width: 100px;
  height: 100px;
  font-size: 0%;
}

.row :last-child {
  /* page break after */
  
}

.mark_x {
  background-color: blue;
  font-size: 64;
}

.mark_y {
  background-color: red;
}
